/*
font-family: Helvetica, Geneva, Arial, sans-serif;
font-size: small;
*/
body {
   font-family: 'Lato', serif;
   font-size: 18px;
   
   font-color: #000;
   background-color: #fff;
}

a:link, a:active, a:visited {
   color: #000000;
   text-decoration: none;
}
a:hover{
   color:#CD0000;
}

input { 
   margin-bottom: 5px;
}

p { 
   line-height: 150%;
}

div#container {
   width: 760px;
   margin: 0 auto;
}

div#header {
   font-size:8px;
   text-align:left;
   padding-bottom: 150px;
}

div#content {
   float: left;
   width: 450px;
   padding: 10px;
}

div#content h3 {
   margin-top: 15px;
}

ul#events {
   list-style-type: none;
}

ul#events li {
   border-radius: 10px;
   line-height: 140%;
   border: 2px solid #000000;
   padding:10px;
   margin:10px;
   background-color: lightblue;
}
ul#events li:hover {
   background-color: lightgreen;
}

div#sidebar {
   width: 200px;
   margin-left: 480px;
}

ul#types {
   width: 400px;
   text-align: left;
   padding: 5px;
   background-color: lightgreen;
   border: 1px solid #ccc;
   margin-bottom: 20px;
}

ul#types li {
   display: inline;
   padding-left: 5px;
}

#img{
   height:180px;
   width:auto;
   float:left;
}